/* ---------------------------------------------------------------- */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-image: url("");
    background-color: #000000;



    h2, h1, h5, p, #Paragraph {
    color: #ffffff;
    font-family: "Courier New", serif;
}

h2, p, #navbar, header, body {


}
    color: #ffffff;
    font-family: "Courier New", serif;
}

#navbar { /* unvisited link */
 a:link {
    color: rgb(255, 255, 255);
  }
  
  /* visited link */
  a:visited {
    color: rgb(0, 100, 100);
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: rgb(255, 255, 255);
  } }

/* ---------------------------------------------------------------- */

#TextAlignCenter {
    text-align: center;
}

#TextAlignLeft {
    text-align: left;
}

#TextAlignRight {
    text-align: right;
}
/* ---------------------------------------------------------------- */

#ImageAlignLeft {
    text-align: right;
}

/* ================================================================ */
/* ---------------------------------------------------------------- */

#Logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

/* ---------------------------------------------------------------- */

.footer{
    margin-top: auto;
}


