/* ---------------------------------------------------------------- */
body {
    background-color: rgb(0, 16, 98);
}

h2, p, #Paragraph {
    color: #ffffff;
    font-family: "Courier New", serif;
}

/* ---------------------------------------------------------------- */

#TextAlignCenter {
    text-align: center;
}

#TextAlignLeft {
    text-align: left;
}

#TextAlignRight {
    text-align: right;
}
/* ---------------------------------------------------------------- */

#ImageAlignLeft {
    text-align: right;
}

/* ================================================================ */
/* ---------------------------------------------------------------- */

#Logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

/* ---------------------------------------------------------------- */

